* {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    width: 640px;
    background-color: white;
    box-shadow: 0px 10px 25px -3px rgb(199 210 219);
    margin-bottom: 50px;
    height: 450px;
}

a{
    color: rgb(17, 37, 213)
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

.container_left {
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(121,87,255,1) 100%);
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 4% 9% 9% 7%;
    flex-wrap: wrap;
}

.container_left--score {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: linear-gradient(0deg, rgba(69,44,223,0) 0%, rgba(78,33,201,1) 100%);
    text-align: center;
    font-weight: 800;
}

.container_left--score--text {
    opacity: 0.7;
}

.opacity {
    opacity: 0.7;
}

.score {
    font-size: 4em;
}

.container_right {
    padding: 10px 35px 20px 35px;
}

.container_right h1 {
    text-align: left;
}

.container_right--summary {
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container_right--summary--type {
    display: flex;
    margin-left: 15px;
}

.container_right--summary--type p {
    margin-left: 10px;
}

.container_right--summary--score {
    text-align: end;
    margin-right: 15px;
    color: black;
}

.container_right--summary span {
    opacity: 0.5;
}

.container_right--summary:nth-of-type(1) {
    background-color: rgba(255, 87, 87, 0.1);
    color: rgb(255, 87, 87)
}

.container_right--summary:nth-of-type(2) {
    background-color: rgba(255, 175, 31, 0.1);
    color: rgb(255, 175, 31)
}

.container_right--summary:nth-of-type(3) {
    background-color: rgba(0, 188, 145, 0.1);
    color: rgb(0, 188, 145)
}

.container_right--summary:nth-of-type(4) {
    background-color: rgba(17, 37, 213, 0.1);
    color: rgb(17, 37, 213)
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 30px;
    background-color: #303b59;
    color: white;
    text-decoration: none;
    margin-top: 40px;
}

.bouton:hover {
    background: linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(121,87,255,1) 100%);
}

@media (max-width: 645px) {
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0;
        height: auto;
    }

    footer {
        margin-top: 20px;
    }

}

@media (max-width: 270px) {
    .container_right {
        padding: 0%;
    }


  img {
    display: none;
  }

  .container_right--summary {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
  }

.container_right--summary--type p {
    margin: auto;
}

.container_right--summary--score {
    margin: auto;
}
}

